footer
	.footer
		.container
			.footer-wrapper
				.footer-items
					.footer-item
						.footer-item__title
							| Телефоны:
						.footer-item__subtitle
							span +998 (71) 252 52 87
							span +998 (71) 252 24 55
					.footer-item
						.footer-item__title
							| Адрес:
						.footer-item__subtitle
							span 100029, Ташкент, Мирабадский район, ул.Чимкентская 1/25
					.footer-item
						.footer-item__first
							span Электронная почта:
							a(href="mailto:info@harvia.uz")
								| info@HArVIA.uz
						.footer-item__second
							span Следите за нами в соцсетях:
							a(href="#").ffb
							a(href="#").finsta
				.footer-bottom
					.footer-bottom-item
						span © ООО «Наименование компании», 2018
						span Проектирование, строительство саун и бань. Продажа оборудования, материалов и аксессуаров Harvia
					.korden
						a(href="#")
							img(src="images/korden.png")
						span интернет-лаборатория <br> создание сайтов в Ташкенте
