header#header
	.header
		.header-top
			.container
				.header-top-wrap
					.header-top-social
						ul
							li
								| Следите за нами в соцсетях:
							li
								a(href="#").fb
							li
								a(href="#").instagram
					.header-top-search
						ul
							li.search
								a(href="#")
									| Поиск оборудования

		.header-menu
			.header-bg(style="background-image: url('images/bg.jpg')")
			.header-menu-list
				.container
					ul
						li.logo
							a(href="/")
								img(src="logo.png")
						li.home-block
							a(href="/").home
						li.catalog
							a(href="#")
								| Каталог продукции
							ul.dropdown
								ul
									li
										a(href="#")
											| Готовые решения
									li
										a(href="#")
											| Оборудование для саун и бань
									li
										a(href="#")
											| Элементы интерьера
								ul
									li
										a(href="#")
											| Двери
									li
										a(href="#")
											| Камни
									li
										a(href="#")
											| Освещение
								ul
									li
										a(href="#")
											| Аксессуары
									li
										a(href="#")
											| Материалы
									li
										a(href="#")
											| Запасные части
						ul.other
							li
								a(href="#")
									| О компании
							li
								a(href="#")
									| Сервис
							li
								a(href="#")
									| Статьи
							li
								a(href="#")
									| Контакты
			.header-contact
				.container
					.header-contact-wrap
						.header-contact-top
							.header-contact-top-pic
								.header-contact-top__text
									h1
										| Оборудование и аксессуары для саун и бань,
									span
										| проверенные временем, качеством и паром!
								.header-contact-top__contact
									h1
										| Контакты
									p
										| для покупки и сервисного обслуживания:
									p
										| +998 (71) <span>252 52 87</span>
									p
										| +998 (71) <span>252 24 55</span>
						.header-contact-icon
							.header-contact-icon-items
								.price-icon
								.price-icon__text
									| лучшие Цены от Официального диллера в Узбекистане
							.header-contact-icon-items
								.service-icon
								.service-icon__text
									| Гарантийное и постгарантийное обслуживание
							.header-contact-icon-items
								.project-icon
								.project-icon__text
									| Готовые проекты и индивидуальное проектировани
.mobile-menu
	.container-menu
		ul.menu-btn-wrap
			li.catalog#openmenu
				a(href="#")
					| Каталог продукции
			li.othermenu#menu
				a(href="/")
					| меню
	.mobile-menu-close
		.container-menu
			ul.menu-btn-wrap
				li.close#closemenu
					a(href="#")
						| Закрыть
				li.othermenu
					a(href="/")
						| меню
	.mobile-menu-wrap
		.container
			ul.mobile-menu__items
				li.mobile-menu__item
					a(href="#")
						| Оборудование
					ul.subnav
						li
							a(href="#")
								| Измерительные аксессуары
						li
							a(href="#")
								| Ковши и шайки
						li
							a(href="#")
								| Ароматизаторы
						li
							a(href="#")
								| Для каминов
						li
							a(href="#")
								| Текстиль
						li
							a(href="#")
								| Прочее
				li.mobile-menu__item
					a(href="#")
						| Готовые решения
					ul.subnav
						li
							a(href="#")
								| Измерительные аксессуары
						li
							a(href="#")
								| Ковши и шайки
						li
							a(href="#")
								| Ароматизаторы
						li
							a(href="#")
								| Для каминов
						li
							a(href="#")
								| Текстиль
						li
							a(href="#")
								| Прочее
				li.mobile-menu__item
					a(href="#")
						| Аксессуары
					ul.subnav
						li
							a(href="#")
								| Измерительные аксессуары
						li
							a(href="#")
								| Ковши и шайки
						li
							a(href="#")
								| Ароматизаторы
						li
							a(href="#")
								| Для каминов
						li
							a(href="#")
								| Текстиль
						li
							a(href="#")
								| Прочее
				li.mobile-menu__item
					a(href="#")
						| Камни
					ul.subnav
						li
							a(href="#")
								| Измерительные аксессуары
						li
							a(href="#")
								| Ковши и шайки
						li
							a(href="#")
								| Ароматизаторы
						li
							a(href="#")
								| Для каминов
						li
							a(href="#")
								| Текстиль
						li
							a(href="#")
								| Прочее
				li.mobile-menu__item
					a(href="#")
						| Двери
					ul.subnav
						li
							a(href="#")
								| Измерительные аксессуары
						li
							a(href="#")
								| Ковши и шайки
						li
							a(href="#")
								| Ароматизаторы
						li
							a(href="#")
								| Для каминов
						li
							a(href="#")
								| Текстиль
						li
							a(href="#")
								| Прочее
				li.mobile-menu__item
					a(href="#")
						| Освещение
					ul.subnav
						li
							a(href="#")
								| Измерительные аксессуары
						li
							a(href="#")
								| Ковши и шайки
						li
							a(href="#")
								| Ароматизаторы
						li
							a(href="#")
								| Для каминов
						li
							a(href="#")
								| Текстиль
						li
							a(href="#")
								| Прочее
				li.mobile-menu__item
					a(href="#")
						| Элементы интерьера
					ul.subnav
						li
							a(href="#")
								| Измерительные аксессуары
						li
							a(href="#")
								| Ковши и шайки
						li
							a(href="#")
								| Ароматизаторы
						li
							a(href="#")
								| Для каминов
						li
							a(href="#")
								| Текстиль
						li
							a(href="#")
								| Прочее
				li.mobile-menu__item
					a(href="#")
						| Материалы
				li.mobile-menu__item
					a(href="#")
						| Запасные части
	.mobile-menu-other
		.container
			ul.mobile-menu__items
				li.mobile-menu__item
					a(href="#")
						| О компании
				li.mobile-menu__item
					a(href="#")
						| Сервис
				li.mobile-menu__item
					a(href="#")
						| Новости
				li.mobile-menu__item
					a(href="#")
						| Контакты
			.mobile-menu-catalog
				.container-menu
					ul.menu-btn-wrap
						li.catalog
							a(href="#")
								| Каталог продукции
						li.close
							a(href="#")
								| Закрыть
include scrollheader
