.scroll-header
	.header
		.header-top
			.container
				.header-top-wrap
					.header-top-social
						ul
							li
								| Следите за нами в соцсетях:
							li
								a(href="#").fb
							li
								a(href="#").instagram
					.header-top-search
						ul
							li.search
								a(href="#")
									| Поиск оборудования
		.header-menu
			.header-menu-list
				.container
					ul
						li.logo
							a(href="/")
								img(src="logo.png")
						li.home-block
							a(href="/").home
						li.catalog
							a(href="#")
								| Каталог продукции
							ul.dropdown
								ul
									li
										a(href="#")
											| Готовые решения
									li
										a(href="#")
											| Оборудование для саун и бань
									li
										a(href="#")
											| Элементы интерьера
								ul
									li
										a(href="#")
											| Двери
									li
										a(href="#")
											| Камни
									li
										a(href="#")
											| Освещение
								ul
									li
										a(href="#")
											| Аксессуары
									li
										a(href="#")
											| Материалы
									li
										a(href="#")
											| Запасные части
						ul.other
							li
								a(href="#")
									| О компании
							li
								a(href="#")
									| Сервис
							li
								a(href="#")
									| Статьи
							li
								a(href="#")
									| Контакты
