extends pug/base

append vars
	- body.classList = ['inner-page'];

block content
	// Добавьте класс inner-page в body во внутренных страницах и удалите комент //
	.page-content
		include pages/header
		.navigation
			.container
				.navigation-title
					h1
						| О компании
				<ul class="crumbs">
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						<a href="">О компании</a>
					</li>
				</ul>
		.about-company
			.container
				.default-page
					img(src="images/placeholder.jpg" alt="placeholder")
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов. Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал.
					h1
						| Заголовок H1. <br> Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					p
						| Абзац! Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте
					h2
						| Заголовок H2. <br> Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					h3
						| Заголовок H3. <br>Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					ul
						li Оформление маркировки текста. Пример оформления <br>переноса строки.
						li Оформление маркировки текста
						li Оформление маркировки текста
					p
						| Распишите о разделах сайта, укажите, где и что находиться, что можно найти в фотогалерее, каталоге продукции. Текст необходимо составлять живой, чтобы посетитель читал его быстро и легко, заинтересовываясь с каждой строчкой. Не стоит перегружать текст специальными терминами или писать объемный материал. Создайте лаконичное и интересное описание Вашей компании, полностью раскрывающее вид деятельности, достижения и плюсы.
					b
						| Пример оформления жирности шрифта на сайте
					br
					i
						| Пример оформления курсива шрифта на сайте
					br
					u
						| Пример оформления подчеркивания шрифта на сайте
					br
					a
						| Пример оформления ссылки на сайте
					br
					a.hover
						| Пример оформления ссылки на сайте при наведение
					h4
						| Заголовок H4. <br> Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					h5
						| Заголовок H5. <br>Пример заголовка в две строки
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от
					table
						tr
							th Топ компании мира
							th Стоимость
							th Прибыль по сравнению с прошлым.
							th Отрасль
						tr
							td Apple
							td $904,61 млрд.
							td +43%
							td Электроника, информационные технологии
						tr
							td Google
							td $782,68 млрд.
							td +12%
							td Интернет
						tr
							td Microsoft
							td $681,58 млрд.
							td +11%
							td Разработка программного обеспечения
		section.post
			.container
				.post-title
					h3 Потребителю
				.post-subtitle
					p всё необходимое для создания комфортного, современного и безопасного места в вашей сауне и бане
				.post-items
					a(href="#" data-aos="fade-right" data-aos-duration="1500").post-item.aos-init.aos-animate
						.post-item-img(style="background-image: url(images/post_1.jpg)")
							.post-item-blick
						.post-item-text
							span Современные «Каменные печи»
					a(href="#" data-aos="zoom-in" data-aos-duration="1500").post-item.aos-init.aos-animate
						.post-item-img(style="background-image: url(images/post_2.jpg)")
							.post-item-blick
						.post-item-text
							span Детали интерьера. Пример оформления
					a(href="#" data-aos="fade-left" data-aos-duration="1500").post-item.aos-init.aos-animate
						.post-item-img(style="background-image: url(images/post_3.jpg)")
							.post-item-blick
						.post-item-text
							span Особая гордость
				.post-btn-wrap
					.post-btn
						a(href="#")
							| Все статьи
		.search-modal
			.search-modal-wrapper
				.search-modal-close
					a(href="#").close
				.search-modal-text
					h1
						| Что будем искать?
				form(action="#" method="GET")
					input(type='search' name='search' id="search" placeholder='Введите ключевое слово' autocomplete='off')
					button(type='submit')
						span Искать
		include pages/footer
