extends pug/base

append vars
	- body.classList = ['inner-page'];

block content
	// Добавьте класс inner-page в body во внутренных страницах и удалите комент //
	.page-content
		include pages/header
		.navigation
			.container
				.navigation-title
					h1
						| Сервис
				<ul class="crumbs">
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						<a href="">Сервис</a>
					</li>
				</ul>
		.service
			.container
				.service-title
					p
						| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок информацией, необходимо отталкиваться от потенциальных покупателей, их желаний и потребностей. Расскажите вкратце об истории и деятельности Вашей компании, укажите ваши плюсы и отличия от конкурентов.
				ul.service-items
					li.service-item
						.service-image(style="background-image: url(images/service_1.jpg)")
						.service-block
							.service-block__title
								h4
									| Условия гарантии
							.service-block__subtitle
								p
									| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок
							.service-block__btn
								a(href="")
									| подробнее..
					li.service-item
						.service-image(style="background-image: url(images/service_2.jpg);")
						.service-block
							.service-block__title
								h4
									| Гарантийное и постгарантийное обслуживание
							.service-block__subtitle
								p
									| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок
							.service-block__btn
								a(href="")
									| подробнее..
					li.service-item
						.service-image(style="background-image: url(images/service_3.jpg);")
						.service-block
							.service-block__title
								h4
									| Готовые проекты и индивидуальное проектировани
							.service-block__subtitle
								p
									| Эта страница является самой первой и главной точкой посетителя сайта, и, поэтому важно заполнить ее наиболее качественной и интересной информацией, ведь именно прочитав ее, посетитель решит – оставаться на сайте или искать необходимую информацию в другом месте. Наполняя этот блок
							.service-block__btn
								a(href="")
									| подробнее..
		section.post
			.container
				.post-title
					h3 Потребителю
				.post-subtitle
					p всё необходимое для создания комфортного, современного и безопасного места в вашей сауне и бане
				.post-items
					a(href="#" data-aos="fade-right" data-aos-duration="1500").post-item.aos-init.aos-animate
						.post-item-img(style="background-image: url(images/post_1.jpg)")
							.post-item-blick
						.post-item-text
							span Современные «Каменные печи»
					a(href="#" data-aos="zoom-in" data-aos-duration="1500").post-item.aos-init.aos-animate
						.post-item-img(style="background-image: url(images/post_2.jpg)")
							.post-item-blick
						.post-item-text
							span Детали интерьера. Пример оформления
					a(href="#" data-aos="fade-left" data-aos-duration="1500").post-item.aos-init.aos-animate
						.post-item-img(style="background-image: url(images/post_3.jpg)")
							.post-item-blick
						.post-item-text
							span Особая гордость
				.post-btn-wrap
					.post-btn
						a(href="#")
							| Все статьи
		.search-modal
			.search-modal-wrapper
				.search-modal-close
					a(href="#").close
				.search-modal-text
					h1
						| Что будем искать?
				form(action="#" method="GET")
					input(type='search' name='search' id="search" placeholder='Введите ключевое слово' autocomplete='off')
					button(type='submit')
						span Искать
	include pages/footer
