// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #000;
$color-white: rgb(255,255,255);
$color-red: #ec1a24;
$grey: #6d6d6d;
$color-txt: #848484;
$color-dark: #282828;
// FONTS

$PFDinTextCompPro-Medium: PFDinTextCompPro-Medium;
$PFDinTextCompPro-Light: PFDinTextCompPro-Light;
$PFDinTextCompPro-Italic: PFDinTextCompPro-Italic;
$PFBeauSansPro-Regular: PFBeauSansPro-Regular;
$PFBeauSansPro-Bbook: PFBeauSansPro-Bbook;
$PFBeauSansPro-BbookItalic: PFBeauSansPro-BbookItalic;
$PFBeauSansPro-SemiBold: PFBeauSansPro-SemiBold;
